.form-container{
    min-width: 150px;
    max-width: 400px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.image--container{
    background-image: url("https://planner5d.com/blog/content/images/2022/09/closet-design-ideas.jpg");
}

@media screen and (max-width:768px) {
    .form-container{
        max-width: 300px;
    }
}
@media screen and (max-width:480px) {
    .image--container{
        display: none !important;
    }
}
