<div>
    <mat-toolbar class="px-4 text-white justify-center !bg-neutral-800">
        <mat-toolbar-row class="flex justify-between items-center">
            <span class="text-2xl font-semibold text-white"><a class="no-underline text-white" routerLink="/home">My
                    Wardrobe</a>
            </span>
            <span>
                <a class="no-underline text-white flex items-center gap-2 font-medium text-lg" routerLink="/home">
                    <span class="material-symbols-outlined font-medium text-lg">
                        shopping_bag
                    </span>
                    <span class="font-medium text-lg">Shop</span>
                </a>
            </span>
            
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="flex flex-row ">
        <app-breadcrumb [breadcrumbArray]="navigationArray"></app-breadcrumb>
    </div>
    <div class="flex md:flex-row flex-col mx-8">
        <div class="md:w-4/6 w-full">
            <div class="flex items-center">
                <input class="h-12 my-5 p-5 w-11/12 rounded-md border-b border-black outline-none bg-slate-100" type="text" placeholder="Search Product" 
                    #input (input)="search(input.value)"> 
                <button type="button" class="flex justify-center items-center ml-2 !h-12 !w-12 !rounded-md !bg-slate-100" (click)="search(input.value)">
                    <span class="material-symbols-outlined flex">
                        search
                    </span>
                </button>
            </div>
            <div *ngIf="!productList.length">
                <h3 class="flex justify-center items-center text-red-600">  No Products found!!!</h3>
            </div>
            <div class="overflow-y-auto">
                <table mat-table [dataSource] = 'productList' *ngIf="productList.length"  >
                
                    <ng-container matColumnDef="Image">
                        <th mat-header-cell *matHeaderCellDef> Image </th>
                        <td mat-cell *matCellDef="let element"><img class="h-36 p-4 w-auto" src="{{element.product_image}}"/></td>
                    </ng-container>
                    <ng-container matColumnDef="Name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element">{{element.product_name}}</td>
                    </ng-container>
                    <ng-container matColumnDef="Price">
                        <th mat-header-cell *matHeaderCellDef> Price </th>
                        <td mat-cell *matCellDef="let element">{{element.product_price}} Rs.</td>
                    </ng-container>
                    <ng-container matColumnDef="Quantity">
                        <th mat-header-cell *matHeaderCellDef> Quantity </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="flex justify-center">
                                <button mat-mini-fab color="primary" class="!w-8 !h-8" type="button" (click)="minusCounter(element)">-</button>
                                <div class="flex justify-center items-center w-8">{{element.product_quantity}}</div>
                                <button mat-mini-fab color="primary" class="!w-8 !h-8" type="button" (click)="plusCounter(element)">+</button>
                            </div>
                        </td>
                        
                    </ng-container>
                    <ng-container matColumnDef="Action">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button (click)='removeProduct(element.id)'>  
                                <span class="material-symbols-outlined flex text-red-600">
                                    delete
                                </span>
                            </button>
                        </td>
                    </ng-container>
        
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            
            
            <!-- <ng-template #none><span class="flex justify-center text-red-600 text-2xl">Nothing added</span> </ng-template> -->
        </div>
        <div class="flex flex-col my-2.5 md:mx-auto md:w-2/6">
            <div class="flex justify-end">
                <mat-card class="w-64 h-fit">
                    <mat-card-header>
                        <mat-card-title>Price Details:</mat-card-title>
                    </mat-card-header>
                    <div class="flex justify-between p-4 text-lg">
                        <span>Total Amount:</span>
                        <span>{{totalAmount}} Rs.</span>
                    </div>
                </mat-card>
            </div>
            <div class="justify-end flex mt-3">
                <button mat-raised-button color="accent" type="button" (click)="buyNow()" [disabled] = "!noProductValues" >
                    Buy Now 
                </button>
            </div>
        </div>
        
    </div>

    
</div>