.w-95{
    width: 95.667%;
}
.h-34{
    height: 34rem;
}

.selected--product:hover {
        box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
        transform: translate3d(0,0,0);
        transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}


.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav div:first-child a {
    float: left;    
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .topnav div a, button{
    float: right;    
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
  }


  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav div .icon {
    display: none;
  }
  
  @media screen and (max-width: 769px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav div a,.topnav div  button{display: none;}
    .topnav div a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 769px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive div a {
      float: none;
      display: block !important;
      text-align: left;
    }

  }
